nav {
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: rgb(219, 192, 141);
}
.btn {
    font-size: 1.3em;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 800ms;
}
.btn:hover {
    transform:scale(1.15);
    transition-property: background-color;
    transition-duration: 800ms;
    background-color: rgb(0, 255, 234);
}
#img {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}