@font-face {
    font-family: 'RowisHandwriting';
    src: url('polices/RowisHandwriting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PottaOne-Regular';
    src: url('polices/PottaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'PottaOne-Regular';
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
}
#imgGaletteSaucisse {
    border: 5px solid black;
}
#partOne {
    list-style: none;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
#partOne p{
    height: 300px;
    width: 400px;
}
img{
    max-width: 80%;
}
h2{
    text-decoration: underline;
}
#partOne p{
    font-size: 1.2em;
}
body
{
 
  background-image: url("images/fond.jpg");
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
  background-size: 150%;

}
#body
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color:wheat;
    border: 2px solid black;
}
#cadre1{
    border: 2px solid black;
    padding-right: 10px;
}
#cadre2{
    border: 2px solid black;
    width: 500px;
}
#partTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.animation{
    margin-top: 45px;
    border: 1px solid black;
    background-color: peru;
    position: static;
    top: 50%;
    right: 1px;
    max-width: 100px;
    max-height: 20%;
    margin-right: 0px;
    padding: 20px 10px 20px 10px;
    animation: animationFrames ease-in-out 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease-in-out 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames ease-in-out 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames ease-in-out 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease-in-out 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
  }
  
  @keyframes animationFrames{
    0% {
      transform: rotate(360deg) ;
    }
    100% {
      transform: rotate(0deg) ;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
      -moz-transform: rotate(360deg) ;
    }
    100% {
      -moz-transform:  rotate(0deg) ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform: rotate(360deg) ;
    }
    100% {
      -webkit-transform: rotate(0deg) ;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
      -o-transform: rotate(360deg) ;
    }
    100% {
      -o-transform: rotate(0deg) ;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
      -ms-transform: rotate(360deg) ;
    }
    100% {
      -ms-transform: rotate(0deg) ;
    }
  }
  .animation:hover{
      transition-property: background-color;
      transition-duration: 800ms;
      background-color: rgb(239, 78, 253);
  }
#video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
footer {
    border-top: 2px solid black;
}
section{
    font-family: 'RowisHandwriting';
}