h1 {
    text-align: center;
    text-decoration: underline;
}
#imgGaletteSaucisse {
    border: 5px solid black;
}
#partOne {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    text-decoration: underline;
}
p{
    width: 500px;
    height: 270px;
    border: 2px solid black;
    font-size: 1.2em;

}
body
{
 
  background-image: url("images/fond.jpg");
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
  background-size: 150%;

}
#body
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1500px;
    margin-left: 15%;
    margin-right: 15%;
    background-color:wheat;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}