@font-face {
    font-family: 'RowisHandwriting';
    src: url('polices/RowisHandwriting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PottaOne-Regular';
    src: url('polices/PottaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'PottaOne-Regular';
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
}
#imgGaletteSaucisse {
    border: 5px solid black;
}
#partOne {
    list-style: none;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
#partOne p{
    font-family: 'RowisHandwriting';
    height: 300px;
    width: 400px;
}
img{
    max-width: 80%;
}
h2{
    text-decoration: underline;
}
#partOne p{

    /*border: 2px solid black;*/
    font-size: 1.2em;

}
body
{
 
  background-image: url("images/fond.jpg");
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
  background-size: 150%;

}
#body
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1500px;
    margin-left: 10%;
    margin-right: 10%;
    background-color:wheat;
    border: 2px solid black;
}
#cadre{
    border: 2px solid black;
}
#partTwo{
    font-family: 'RowisHandwriting';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}