h1 {
    text-align: center;
    text-decoration: underline;
}
#imgGaletteSaucisse {
    max-width: 70%;
	height: auto;
}
#partOne {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    text-decoration: underline;
}
p{
    margin-right: 150px;
    border: 2px solid black;
    padding-bottom: 150px;

}